# docs: https://docs.k0rdent.io/latest/quickstarts/#where-the-quickstart-leads

- name: Set up SSH key access

- name: Configure passwordless sudo

- name: Restrict inbound traffic to SSH (port 22)

- name: Allow all outbound traffic

- name: Update and upgrade apt packages
  become: true
  apt:
    update_cache: yes
    upgrade: yes

- name: Download k0s distribution
  become: true
  block:
    - name: Download k0s install script
      get_url:
        url: https://get.k0s.sh
        dest: /tmp/k0s-install.sh
        mode: '0775'
    - name: Run k0s install script
      shell: /tmp/k0s-install.sh
      args:
        creates: /usr/local/bin/k0s

- name: Install k0s as a service
  become: true
  ansible.builtin.shell: k0s install controller --enable-worker --no-taints

- name: Start k0s as a service
  become: true
  ansible.builtin.shell: k0s start
